<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lorin.mapper.UserRoleMapper">

    <select id="listByMenuId" resultType="com.lorin.entity.UserRole">
        SELECT DISTINCT ur.user_id
        FROM sys_user_role ur
                 LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
        WHERE rm.menu_id = #{menuId}
    </select>
</mapper>
